CONTRACT_ADDRESS=0xYourDeployedContractAddress
PATIENT_ADDRESSES="0xyouaccount1,0xyouraccount2,..."
PINATA_API_KEY=your_pinata_api_key_here
PINATA_SECRET_API_KEY=your_pinata_secret_api_key_here
INFURA_API_KEY=your_infura_api_key_here
URL="http://10.22.X.X:8545"
IPFS_HASHES="Qm1,Qm2,..."
METAMASK_PRIVATE_KEY=your_metamask_private_key_here
ETHERSCAN_API_KEY=your_etherscan_api_key_here